extends layout

block content
	div.mainheading 
		img(src="http://i.imgur.com/iGCCd7A.png")
	div.secondheading
			h3 Thank you for visiting unpind.  We love crafts and DIY projects just as much as you do.
			h3 Our goal is to provide you with tutorials to the best crafts out there so that you can enjoy making them with your friends and family.  

			h3 Please get in touch with us if you want to be featured or just want to say hi.  You can email us at kim at unpind dot com.

			h2 Happy Crafting!

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='var addthis_config = "data_track_addressbar":true')
	script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5200a667119977b7")