
.modal-create.modal.hide.fade
	div.modal-header
		button.close(data-dismiss='modal') x
		h3 It's simple, fill in & review!
	div.modal-body
		form( method="post").well.span4
			label Title 
			input(type="text", name="title", id='*').span4.required
	div.modal-footer
